/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* selector de colores*/
:root {
    --main-color: #fffcdd;
    --secondary-color: #805841;
    --third-color: #dcf7f3;
    --forth-color: #ffd8d8;
    --fifth-color: #f5a2a2;
}

body {
    background-color: var(--main-color);
    padding-top: 70px;
}

section[id] {
    scroll-margin-top: 80px;

}

html{
    scroll-behavior: smooth;
}

/* Header y navbar */
.nivel {
    display: none;
}

/* Logo */
#logotipo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid var(--forth-color);
    margin-left: 15px;
}

header {
    background-color: var(--secondary-color);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barraNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.contenedorList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.contenedorList ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.contenedorList ul li {
    margin-right: 20px;
}

.contenedorList li a{
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    color: var(--third-color);
    text-decoration: none;
}

.navItem:hover {
    background-color: var(--fifth-color);
    border-radius: 50%;
}

.contenedorIconos ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-top: 20px;
}

.contenedorIconos ul li {
    margin-left: 15px;
}

.fa-circle-user{
    color: var(--third-color);
}

.fa-circle-user:hover{
    background-color: var(--fifth-color);
    border-radius: 50%;
}

.modoOscuroOn {
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 50%;
    color: var(--third-color);
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modoOscuroOn:hover {
    background-color: var(--fifth-color);
}

.modoOscuroOff {
    display: none;
}

.abrirMenu {
    display: none;
}

.cerrarMenu {
    display: none;
}

/*seccion*/

.formContenedor{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: var(--fifth-color);
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

form {
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
h2 {
    color: var(--secondary-color); 
    text-align: center;
    width: 100%; 
    font-weight: bolder;
}
label {
    display: block;
    margin: 10px 0 5px;
    color: #dcf7f3; 
    width: 100%;
    margin-right: 10px; 
}
input[type="text"],
input[type="email"],input[type="password"] {
    width: calc(100% - 20px);
    padding: 7px;
    margin-bottom: 20px;
    border: 1px solid #ffd8d8; 
    border-radius: 5px;
    background-color: #fffcdd; 
    box-sizing: border-box;
}
.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px;
}
.checkbox-container input[type="checkbox"] {
    margin-right: 10px; 
}
input[type="submit"] {
    background-color: var(--secondary-color); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: var(--fifth-color); 
}
.error{
    border-color: red;
    color: red;
}

.mal{
    color:#f5a2a2;
}

/*footer */

footer{
    background-color: var(--secondary-color);
}

.contenedorF {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#lista{
    margin-left: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#lista ul{
    list-style-type: none;
}

#lista li {
    margin-bottom: 10px;
    font-family: Exo2, sans-serif;
    font-size: 25px;
    font-style: italic;
    color: var(--third-color);
}

#lista a {
    font-family: Exo2, sans-serif;
    font-size: 25px;
    font-style: italic;
    color: var(--third-color);
    text-decoration: none;
}

.iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
}

i {
    color: var(--third-color);
}

@media (max-width: 768px) {


    /*header y navbar*/
    header{
        flex-wrap: wrap;
    }

    .contenedorIconos {
        flex-wrap: wrap;
    }

    .contenedorList ul {
        flex-wrap: wrap;
    }

    .contenedorList ul li {
        margin-right: 10px;
    }

    .contenedorIconos ul li {
        margin-left: 10px;
    }

    /*seccion*/
    .formContenedor{
       margin-top: 30px;
       margin-bottom: 30px;
       padding-bottom: 20px;
    }

    /*pie de pagina*/

    .contenedorF {
        padding: 20px;
    }

    #lista{
        margin-left: 20px;
    } 
    
    .iconos {
        padding: 10px;
    }
}

@media (max-width: 375px){

    body{
        padding-top: 0;
    }

    /*Barra de navegacion*/
    header {
        z-index: 99;
    }

    .contenedorList {
        position: fixed;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        background-color: var(--fifth-color);
        pointer-events: none;
        margin-top: 0px;
        padding-top: 20px;
        opacity: 0;
    }
    
    .contenedorList ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorList ul li {
        margin-right: 0;
        margin-bottom: 10px;
        align-items: center;
    }

    .navItem:hover {
        background-color: var(--secondary-color);
        border-radius: 50%;
    }

    .contenedorIconos{
        width: 100%;
        margin-left: 30px;
    }

    .abrirMenu{
        display: block;
        background-color: var(--secondary-color);
        color: var(--third-color);
        border: none;
        align-self: center;
        margin-left: 100px;
    }

    .cerrarMenu{
        display: block;
        background-color: var(--fifth-color);
        color: var(--secondary-color);
        border: none;
        align-self: center;
    }

    .menuAbierto{
        opacity: 1;
        pointer-events: all;
    }

    /*seccion*/
    .formContenedor{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 100px;
    }

    /*pie de pagina*/
    .contenedorF {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
