/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* selector de colores*/
:root {
    --main-color: #fffcdd;
    --secondary-color: #805841;
    --third-color: #dcf7f3;
    --forth-color: #ffd8d8;
    --fifth-color: #f5a2a2;
}

body {
    background-color: var(--main-color);
    padding-top: 70px;
}

section[id] {
    scroll-margin-top: 80px;

}

html{
    scroll-behavior: smooth;
}

/* Header y navbar */
.nivel {
    display: none;
}

/* Logo */
#logotipo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid var(--forth-color);
    margin-left: 15px;
}

header {
    background-color: var(--secondary-color);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barraNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.contenedorList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.contenedorList ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.contenedorList ul li {
    margin-right: 20px;
}

.contenedorList li a{
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    color: var(--third-color);
    text-decoration: none;
}

.navItem:hover {
    background-color: var(--fifth-color);
    border-radius: 50%;
}

.contenedorIconos ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-top: 20px;
}

.contenedorIconos ul li {
    margin-left: 15px;
}

.fa-circle-user{
    color: var(--third-color);
}

.fa-circle-user:hover{
    background-color: var(--fifth-color);
    border-radius: 50%;
}

.modoOscuroOn {
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 50%;
    color: var(--third-color);
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modoOscuroOn:hover {
    background-color: var(--fifth-color);
}

.modoOscuroOff {
    display: none;
}

.abrirMenu {
    display: none;
}

.cerrarMenu {
    display: none;
}

/*seccion*/
.contenedorL {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px; 
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.contenedorL h1{
    font-family: "Dancing Script", cursive;
    font-size: 55px;
    font-weight: bold;
}

.contenedorL p {
    font-family: "Exo 2", sans-serif;
    font-size: 30px;
    color: var(--third-color);
    line-height: 1.5;
}

#titulo {
    width: 100%;
    text-align: center;
}

#imagen0{
    margin-top: 10px;
    margin-bottom: 15px;
}

/*Bloque 1*/
#imagen1{
    width: 600px;
    height: 350px;
}

.bloqueN {
    background-color: var(--fifth-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.bloque {
    display: flex;
    flex-direction: row;
    background-color: var(--fifth-color);
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
}

/*Bloque 2*/

.contenedorIMG {
    padding-top: 15px;
}

#imagen2{
    width: 530px;
    height: auto;
}

#parrafo1 {
    margin-left: 25px;
}

/*Bloque 3*/

#parrafo2 {
    margin-right: 25px;
}

#imagen3 {
    width: 500px;
    height: auto;
}

#contenedorFrase {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 15px;
}

.fa-leaf{
    color: var(--fifth-color);
    margin-top: 10px;
}

#frase{
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    font-weight: bold;
    color: var(--secondary-color);
    margin-left: 20px;
    margin-right: 20px;
}

/*footer */

footer{
    background-color: var(--secondary-color);
}

.contenedorF {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#lista{
    margin-left: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#lista ul{
    list-style-type: none;
}

#lista li {
    margin-bottom: 10px;
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    font-style: italic;
    color: var(--third-color);
}

#lista a {
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    font-style: italic;
    color: var(--third-color);
    text-decoration: none;
}

.iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
}

i {
    color: var(--third-color);
}

@media (max-width: 768px) {

    /*header y navbar*/
    header{
        flex-wrap: wrap;
    }

    .contenedorIconos {
        flex-wrap: wrap;
    }

    .contenedorList ul {
        flex-wrap: wrap;
    }

    .contenedorList ul li {
        margin-right: 10px;
    }

    .contenedorIconos ul li {
        margin-left: 10px;
    }
    
    /*seccion*/

    .contenedorL{
        margin-left: 35px;
        margin-right: 35px;
    }

    .bloque{
        flex-direction: column;
        padding-left: 20px;
    }

    /*Bloque1*/

    #imagen0{
        margin-bottom: 0px;
    }

    /*Bloque2*/
    
    #parrafo1 {
        margin-left: 5px;
    }
        
    /*Bloque3*/

    #parrafo2 {
        margin-right: 10px;
    }

    #imagen3{
        margin-left: 15px;
    }

    .contenedorIMG{
        padding-left: 30px;
        margin-bottom: 20px;
    }

    .fa-leaf{
        margin-top: 50px;
    }
    
    #frase{
        margin-left: 15px;
        margin-right: 15px;
    }
    

    /*pie de pagina*/

    .contenedorF {
        padding: 20px;
    }

    #lista{
        margin-left: 20px;
    } 
    
    .iconos {
        padding: 10px;
    }
}

@media (max-width: 375px){

    body{
        padding-top: 0;
    }

    /*Barra de navegacion*/
    header {
        z-index: 99;
    }

    .contenedorList {
        position: fixed;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        background-color: var(--fifth-color);
        pointer-events: none;
        margin-top: 0px;
        padding-top: 20px;
        opacity: 0;
    }
    
    .contenedorList ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorList ul li {
        margin-right: 0;
        margin-bottom: 10px;
        align-items: center;
    }

    .navItem:hover {
        background-color: var(--secondary-color);
        border-radius: 50%;
    }

    .contenedorIconos{
        width: 100%;
        margin-left: 30px;
    }

    .abrirMenu{
        display: block;
        background-color: var(--secondary-color);
        color: var(--third-color);
        border: none;
        align-self: center;
        margin-left: 100px;
    }

    .cerrarMenu{
        display: block;
        background-color: var(--fifth-color);
        color: var(--secondary-color);
        border: none;
        align-self: center;
    }

    .menuAbierto{
        opacity: 1;
        pointer-events: all;
    }

    /*seccion*/

    .contenedorL{
        margin-left: 0px;
        margin-right: 0px;
    }

    .bloqueN {
        width: 350px;
    }

    /*Bloque1*/

    #imagen1{
        width: 320px;
        margin-left: 0px;
        height: auto;
    }
  
    .contenedorIMG{
        padding-left: 10px;
    }

    #imagen2{
        width: 300px;
    }
    
    /*Bloque2*/
    
    #parrafo1 {
        margin-left: 0x;
    }
        
    /*Bloque3*/

    #parrafo2 {
        margin-right: 0px;
    }
 
    #imagen3 {
        width: 300px;
        margin-left: 0px;
    }
    
    #frase{
        margin-left: 0px;
        margin-right: 0px;
    }

    .fa-leaf{
        display: none;
    }
    
    /*pie de pagina*/
    .contenedorF {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
