/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #fffcdd;
    --secondary-color: #805841;
    --third-color: #dcf7f3;
    --forth-color: #ffd8d8;
    --fifth-color: #f5a2a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    padding-top: 80px;
}

section[id] {
    scroll-margin-top: 80px;
}

html {
    scroll-behavior: smooth;
}

/* Header y navbar */
.nivel {
    display: none;
}

/* Logo */
#logotipo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid var(--forth-color);
    margin-left: 15px;
}

header {
    background-color: var(--secondary-color);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barraNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.contenedorList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.contenedorList ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.contenedorList ul li {
    margin-right: 20px;
}

.contenedorList li a{
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    color: var(--third-color);
    text-decoration: none;
}

.navItem:hover {
    background-color: var(--fifth-color);
    border-radius: 50%;
}

.contenedorIconos ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-top: 20px;
}

.contenedorIconos ul li {
    margin-left: 15px;
}

.fa-circle-user{
    color: var(--third-color);
}

.fa-circle-user:hover{
    background-color: var(--fifth-color);
    border-radius: 50%;
}

.modoOscuroOn {
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 50%;
    color: var(--third-color);
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modoOscuroOn:hover {
    background-color: var(--fifth-color);
}

.modoOscuroOff {
    display: none;
}

.abrirMenu {
    display: none;
}

.cerrarMenu {
    display: none;
}

/*seccion inicio*/

.banner {
    background-image: url(../imagenes/bannerInicio.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 550px;
    z-index: 1;
}

.banner-items {
    position: absolute;
    top: 0;
    left: 0; 
    padding: 20px;
    color: var(--secondary-color);
    margin-top: 70px;
}

.banner-items h1{
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 75px;
    width: 100%;
}

.banner-items p {
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 60%;
}
/*seccion sobre mi*/

.contenedorS {
    padding: 20px;
}

.text-and-image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--forth-color);
}

.presentacion {
    flex: 1;
    margin: 0;
    padding-right: 20px; 
    padding-left: 10px;
    color: var(--secondary-color);
    font-size: 22px;
    font-family: "Exo 2", sans-serif;
}

.presentacion h1 {
    text-align: center;
    font-weight: bolder;
}

.imagenSico {
    width:300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover;
    background-size: cover;
}

.textoS {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color:var(--secondary-color);
    font-size: 22px;
    background-color:var(--fifth-color);
    font-family: "Exo 2", sans-serif;
}

/* seccion destacados */
#Destacados h1 {
    background-color: var(--forth-color);
    text-align: center;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    font-family: Exo2, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: var(--secondary-color);
}

.contenedorD {
    display: flex;
    justify-content: space-between;
    background-color: var(--forth-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.cajaD {
    width: 30%;         
    height: auto;        
    background-color: var(--fifth-color); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.imagenD img {
    width: 250px;
    height: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

.textos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textos h3 {
    color: var(--secondary-color);
    align-items: center;
    font-family: "Exo 2", sans-serif;
    font-size: 28px;
    font-weight: bold;
    min-height: 65px;
    text-align: center;
}

.textos p {
    align-items: center;
    width: 80%;
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    color: var(--third-color);
    min-height: 150px;
}

#tarjeta1 {
    margin-left: 20px;
}

#tarjeta3 {
    margin-right: 20px;
}

.botones .btn.btn-primary {
    color: var(--third-color);
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: var(--secondary-color);
}

.btn.btn-primary:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

/*footer */

footer{
    background-color: var(--secondary-color);
}

.contenedorF {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#lista{
    margin-left: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#lista ul{
    list-style-type: none;
}

#lista li {
    margin-bottom: 10px;
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    font-style: italic;
    color: var(--third-color);
}

#lista a {
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    font-style: italic;
    color: var(--third-color);
    text-decoration: none;
}

.iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
}

i {
    color: var(--third-color);
}

@media (max-width: 768px) {

    /*header y navbar*/
    header{
        flex-wrap: wrap;
    }

    .contenedorIconos {
        flex-wrap: wrap;
    }

    .contenedorList ul {
        flex-wrap: wrap;
    }

    .contenedorList ul li {
        margin-right: 10px;
    }

    .contenedorIconos ul li {
        margin-left: 10px;
    }

    /*Banner*/

    .banner{
        height: 400px;
    }

    .banner-items h1{
        width: 60%;
    }

    /*Destacados imagenes*/
    .imagenD img{
        width: 200px;
        height:200px;
    }

    .parrafo{
        margin-top: 30px;
    }

    /*pie de pagina*/

    .contenedorF {
        padding: 20px;
    }

    #lista{
        margin-left: 20px;
    } 
    
    .iconos {
        padding: 10px;
    }
}

    
@media (max-width: 375px) {

    body{
        padding-top: 0;
    }

    /*Barra de navegacion*/
    header {
        z-index: 99;
    }

    .contenedorList {
        position: fixed;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        background-color: var(--fifth-color);
        pointer-events: none;
        margin-top: 0px;
        padding-top: 20px;
        opacity: 0;
    }
    
    .contenedorList ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorList ul li {
        margin-right: 0;
        margin-bottom: 10px;
        align-items: center;
    }

    .navItem:hover {
        background-color: var(--secondary-color);
        border-radius: 50%;
    }

    .contenedorIconos{
        width: 100%;
        margin-left: 30px;
    }

    .abrirMenu{
        display: block;
        background-color: var(--secondary-color);
        color: var(--third-color);
        border: none;
        align-self: center;
        margin-left: 100px;
    }

    .cerrarMenu{
        display: block;
        background-color: var(--fifth-color);
        color: var(--secondary-color);
        border: none;
        align-self: center;
    }

    .menuAbierto{
        opacity: 1;
        pointer-events: all;
    }

    /*banner*/

    .banner-items {
        padding: 10px;
        margin-top: 0;
    }

    .banner-items h1{
        width: 65%;
        font-size: 60px;
    }

    /*seccion Sobre Mi*/


    .text-and-image {
        flex-direction: column;
    }

    .presentacion {
        padding-right: 10px; 
        padding-left: 5px;
    }

    .imagenSico {
        width:300px; 
        height: 300px; 
        border-radius: 50%; 
        object-fit: cover;
        background-size: cover;
    }

    .textoS {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /*seccion Destacados*/

    .contenedorD{
        flex-direction: column;
        align-items: center;
    }

    .cajaD{
        width: 75%;
        align-self: center;
        align-items: center;
    }

    #tarjeta1 {
        margin-left: 0;
        margin-bottom: 20px;
    }

    #tarjeta2 {
        margin-bottom: 20px;
    }

    #tarjeta3 {
        margin-right: 0;
    }

    .imagenD img{
        width: 300px;
        height: 300px;
    }

    .parrafo {
        margin-top: 0px;
    }

    .textos h3 {
        margin-bottom: 0px;
        min-height: auto;
    }

    .textos p {
        margin-top: 5px;
        min-height: auto;
    }

    /*pie de pagina*/
    .contenedorF {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



